.auth-nav {
  display: none;

  @media screen and (min-width: $tablet){
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 21px;
    list-style-type: none;
  }
  @media screen and (min-width: $desktop){
    flex-direction: row;
  }
    
  }
  
  .icon-mail {
    width: 14px;
    height: 10px;
    
    margin-right: 10px;
    fill: currentColor;

    @media screen and (min-width: $desktop){
      width: 16px;
      height: 12px;
    }

    &:hover,
    &:focus {
    fill: var(--accent);
  }
}
  .icon-phone {
    width: 10px;
    height: 14px;
    margin-right: 10px;
    fill: currentColor;
  
    transition: color 250ms var(--timing-function);

    @media screen and (min-width: $desktop){
      width: 10px;
      height: 16px;
    }

    &:hover,
    &:focus {
    fill: var(--accent);
  }
  }
  
  .auth-nav .item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    @media screen and (min-width: $desktop){
      margin-left: auto;
      font-size: 14px;
line-height: 1.14;

      & + .item {
        margin-left: 40px;
      }
    }
  }
  
  .auth-nav .link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
    color: var(--accent);
  }
  }
  
  .adress .adress-link {
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
    color: var(--accent);
  }
  }
  
  .adress .adress-auth {
    color: var(--footer-auth);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
    color: var(--accent);
  }
  }
  
  .adress-list {
    font-style: normal;
    margin-top: 20px;
  }
  .link {
    text-decoration: none;
  }
  .adress-auth {
    text-decoration: none;
    
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  .adress-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  .adress{
    margin-bottom: 60px;
    
    
  }
  .adress .item{
    text-align: center;
  }
  .adress .item:not(:last-child) {
    margin-bottom: 12px;
  }