.auth-nav {
    display: flex;
    margin-left: auto;
    list-style-type: none;
  }
  
  .icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;

    &:hover,
    &:focus {
    fill: var(--accent);
  }
  }
  
  .icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
    fill: var(--accent);
  }
  }
  
  .auth-nav .item {
    margin-left: auto;

    & + .item {
        margin-left: 50px;
      }
  }
  
  .auth-nav .link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
    color: var(--accent);
  }
  }
  
  .adress .adress-link {
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
    color: var(--accent);
  }
  }
  
  .adress .adress-auth {
    color: var(--footer-auth);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
    color: var(--accent);
  }
  }
  
  .adress-list {
    font-style: normal;
    margin-top: 20px;
  }
  .link {
    text-decoration: none;
  }
  .adress-auth {
    text-decoration: none;
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  .adress-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  
  .adress .item:not(:last-child) {
    margin-bottom: 9px;
  }