.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 32, 30, 0.192);
  
    opacity: 1;
    transition: opacity 250ms var(--timing-function);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;

    & .modal {
        transform: translate(-50%, -50%) scale(0.9);
      }
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 528px;
  height: 581px;
    padding: 40px;
    background-color: var(--white);
  
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: 250ms var(--timing-function);
  }
  
  .form-field {
    position: relative;
  
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .form-name {
    margin-bottom: 12px;
  
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
  
  .form-field label {
    margin-bottom: 4px;
    
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  
  color: var(--primary-text-color);
  }
  
  .form-field input {
    margin: 0;
    padding: 11px 12px;
    padding-left: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2); 
    border-radius: 4px;
    outline: transparent;
  
    transition: border-color 250ms var(--timing-function);
  }
  .form-field.textarea{
    margin-bottom: 20px;
  }
  .form-field.check-box{
    margin-bottom: 30px;
  }
  .form-input:focus +.icon-form{
    fill: var(--accent);
  }
  .form-input:focus{
    border-color: var(--accent);
  }
  .form-input:focus-visible{
    outline: none;
  }
  
  .form-field input::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  .icon-form {
    position: absolute;
    
    top: 50%;
    left: 20px;
   
    width: 18px;
    height: 18px;
  
    transform: translateX(-50%);
    transition: fill 250ms var(--timing-function);
  }
  .checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
  .checkbox-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .checkbox-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: var(--white);
    border: 0.2px solid var(--black);
    border-radius: 2px;
    margin-right: 7px;
  
    transition: fill 250ms var(--timing-function);
  }
  .checkbox:checked + .checkbox-icon {
    background-color: var(--accent);
    background-image: url(../img/check-modal.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent);
  }
  .checkbox-policy{
    font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  }
  .form-link {
    font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
    text-decoration: underline;
    color: var(--accent);
  }
  
  .textarea {
    resize: none;
  }
  .comment {
    padding: 12px 16px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  }