button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  .button-modal {
    position: absolute;
    top: 8px;
    right: 8px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    padding: 0; 
    background-color: transparent; 
    cursor: pointer;
  
    transition: fill 250ms var(--timing-function);

    &:hover,
  &:focus{
    fill: var(--accent);
  }
  } 
  
  .button {
    color: var(--title-text-color);
    background-color: var(--primary-bgr);
    border-color: transparent;
    display: inline-block;
    border-radius: 4px;
  }
  
  .modal-icon {
    width: 30px;
    height: 30px;
  }
  .button.primary {
    padding: 10px 32px;
    min-width: 216px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
    color: var(--white);
    background-color: var(--accent);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
  
    letter-spacing: 0.06em;
    cursor: pointer;
  }
  .button.primary.forma{
    display: block;
    margin: 0 auto;
  }
  .button.primary.invit{
    position: relative;
    width: 200px;
    margin-left: 12px;
    font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  
  }
  .button.secondary {
    padding: 6px 22px;
    background-color: var(--secondary-bgr);
    color: var(--title-text-color);
    background-color: var(--secondary-bgr);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
  
    transition: background-color 250ms var(--timing-function),
      color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);

      &:hover,
  &:focus {
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
    color: var(--white);
    background-color: var(--accent);
  }
  }
  
  .button-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
  }
  .button-nav .button.secondary:not(:last-child) {
    margin-right: 8px;
  }