.footer {
    background-color: var(--bgr-footer-hiro);
    padding: 60px 0;
  }
  .footer__networks__link--inverse{
    color: var(--white);
    background: rgba(255, 255, 255, 0.1);
  }
 
  
  .footer-link .s-links {
    fill: var(--white);
  }
  .footer-item {
    margin-bottom: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);

    @media screen and (max-width: 1199px){
      text-align: center;
    }
    
    
  }
  .footer .container {
    @media screen and (min-width: $tablet){
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: baseline;
    }
    @media screen and (min-width: $desktop){
      align-items: baseline;
    }
    
    // align-items: baseline;
  }

  .footer-logo-adress{
    text-align: center;
margin-bottom: 60px;
    @media screen and (min-width: $tablet){
      
    }

    @media screen and (min-width: $desktop){
      text-align: left;
      margin-left: 0;
      margin-right: 70px;
    }
  }

  // .social-link-invitation{
  //   @media screen and (min-width: $tablet){
  //     display: block;
  //   }

  //   @media screen and (min-width: $desktop){
  //     display: flex;
  //     align-items: baseline;
  //   }
  // }