.page-header {
    border-bottom: 1px solid #ececec;
  }
  .page-header .container {
    display: flex;
    align-items: center;
    height: 60px;

    @media screen and (min-width: $tablet){
      height: 80px;;
    }
  }
  
  
  