.invitation {
    
    text-align: center;

 

    @media screen and (min-width: $desktop){
      margin-left: auto;
  }

  }
  .invitation-name {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
  }
  .invitation-form {
    position: relative;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    

    @media screen and (min-width: $desktop){
      display: flex;
  }
}
  .email {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 16px;
    background-color: transparent;
    color: var(--icon-color);
    display: block;

    @media screen and (min-width: $tablet){
      width: 450px;
      
  }
  @media screen and (min-width: $desktop){
    width: 358px;
    margin: 0;
    
    
}
  }
  .icon-send {
    position: absolute;
    top: 50%;
    right: 32px;
    width: 24px;
    height: 24px;
    fill: var(--white);
    transform: translateY(-50%);
  }