.invitation {
    margin-left: auto;
  }
  .invitation-name {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
  }
  .invitation-form {
    position: relative;
    display: flex;
  }
  
  .email {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    padding: 15px 16px;
    background-color: transparent;
    color: var(--icon-color);
  }
  .icon-send {
    position: absolute;
    top: 50%;
    right: 32px;
    width: 24px;
    height: 24px;
    fill: var(--white);
    transform: translateY(-50%);
  }