.logo-web {
    margin-right: 93px;
  
    color: var(--accent);
    font-family: "Raleway";
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
  
  .logo-studio {
    color: var(--black);
    font-family: "Raleway";
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }

  footer .logo-web {
    text-decoration: none;
    color: var(--accent);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
  footer .logo-studio {
    text-decoration: none;
    color: var(--white);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }