.nav {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: flex;
    list-style-type: none;

    & .item:not(:last-child) {
        margin-right: 50px;
      }
  }
  
  
  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    transition: color 250ms var(--timing-function);

    &:hover,
  &:focus {
    color: var(--accent);
  }
  &.current {
    color: var(--accent);
  }
  }
  
 
  .thumb-link {
    position: relative;
  }
  .site-nav .link.current::after {
    content: "";
    position: absolute;
    display: flex;
    background: var(--accent);
    border-radius: 2px;
    border-bottom: 1px solid var(--accent);
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
  }