.networks{
    display: flex;
    margin-top: 16px;
    justify-content: center;
  }
  .networks__item{
    margin-right: 10px;

    &:last-child{
        margin-right: 0;
      }
  }
  
  .networks__link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    
    transition: color 250ms var(--timing-function),
      background-color 250ms var(--timing-function);

      &:hover,
      &:focus{
    color: var(--white);
    background-color: var(--accent);
  }
  }
  
  .networks__icon{
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
  .social-link {
    margin-left: 70px;
  }