.work {
    padding-top: 0;
  }
  
  .work__title{
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  }

  
  
  
  