html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    color: var(--primary-text-color);
    background-color: var(--white);
    font-family: "Roboto", sans-serif, "Raleway", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
  }