:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --footer-auth: rgba(255, 255, 255, 0.6);
  --secondary-bgr: #f5f4fa;
  --primary-bgr: #f5f5f5;
  --bgr-footer-hiro: #2f303a;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}